@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Ubuntu', sans-serif;
}

.heading {
    text-align: center;
    background-color: black;
    padding: 1rem;
}
.heading h1{
     border-radius: 1rem;
     background-color: aliceblue;
     color: black;
     display:inline;
     padding: 0.5rem;

}
.content{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.detailsheading{
    grid-column: 1/6;
    grid-row:1/2;
    padding:0.5rem;
}
.cryptonews{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#newsgrid{
    display: grid;
    background-color: darkslategray;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    color: aliceblue;
    border-radius: 1rem;
    row-gap: 0.01rem;

}
a{
    text-decoration: none;
}
a:link {
    color: aliceblue;
  }
  
  /* visited link */
  a:visited {
    color: grey;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
.top10grid{
    background-color: bisque;
    margin:0.5rem;
    display: grid;
    border-radius: 1rem;
    padding:0.5rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;

}
.top10grid h2{
    grid-column: 1/3;
}